@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
--cor-principal:#804ad6;
--cor-secundaria:#a57aebe7; 
--cor-rosa: #e55af1e7; 
--cor-preto: #000000;
--cor-branco: #ffffff;
--cor-fundo:#a57aebe7;
}