*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Yrsa',sans-serif;
}

header {
    background-color: blueviolet;
    color: black;
}

.cabecalho{
    background-color: rgba(137, 43, 226, 0.445);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalha-imagem {
    width: 20%;
}


.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: -moz-linear-gradient(blueviolet,black);
    color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0%;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}